.achievements {
    padding-bottom: 75px;
}

.achievements__background-container {
    position: relative;
}

.achievements__title {
    position: absolute;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: var(--skills-title-color);
    line-height: 63.96px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.achievements__background {
    height: 100px;
    margin: auto;
}