.projects {
    padding: 74px 25px 76px 25px;
}

.projects img {
    max-height: 361px;
    object-fit: contain;
}
.projects__title {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: var(--projects-title-color);
}

.projects__subtitle {
    text-align: center;
    margin-top: 25px;
    padding-bottom: 15px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--projects-subtitle-color);
}

.blocks__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-top: 32px;
}

.blocks__container {
    background-color: var(--projects-background-color);
    text-align: center;
    padding: 60px 47px 60px 47px;
    border: 1px solid var(--projects-border-color);
    border-bottom-width: 2.5px;
    border-radius: 8px;
    flex: 1;
    max-height: 361px;
}

.blocks__item-description {
    margin-top: 25px;
    margin-bottom: 37px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--projects-text-color);
}

.blocks__item-link {
    text-decoration: none;
    color: var(--projects-link-color);
    font-family: "Titillium Web", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.wowtaxi__item-pic {
    background-color: var(--projects-wowtaxi-color);
    border-radius: 8px;
}

.wowtaxi__item-title {
    color: var(--projects-wowtaxi-color);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.block-expert__item-pic {
    background-color: var(--projects-block-expert-color);
    border-radius: 8px;
}

.block-expert__item-title {
    color: var(--projects-block-expert-color);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.paybox__item-pic {
    background-color: var(--projects-paybox-color);
    border-radius: 8px;

}

.paybox__item-title {
    color: var(--projects-paybox-color);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    font-weight: 600;
}



@media (min-width: 768px) {
    .blocks__item {
        flex-direction: row;
    }

    .blocks__container {
        margin-top: 0px;
        display: flex;
        flex-basis: 32%;
        max-width: 50%;
        flex-direction: column;
    }

    .wowtaxi__item-pic {
        display: flex;
        flex-basis: 50%;
        max-width: 50%;
        margin-right: 32px;
    }

    .block-expert__item-pic {
        display: flex;
        flex-basis: 50%;
        max-width: 50%;
        margin-right: 32px;
    }

    .paybox__item-pic {
        display: flex;
        flex-basis: 50%;
        max-width: 50%;
        margin-right: 32px;
        padding-left: 100px;
        padding-right: 100px;
    }
}